<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6bec2">  <td>20/10/15 09:21:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTestScript.chooseOneItem()[pri:2, instance:com.ebay.mobileAutomation.homeScript.HomeTestScript@59ec2012]">chooseOneItem</td> 
  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/10/15 09:21:24</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestScript.login()[pri:0, instance:com.ebay.mobileAutomation.loginScripts.LoginTestScript@402a079c]">login</td> 
  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>20/10/15 09:21:24</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTestScript.searchItems()[pri:1, instance:com.ebay.mobileAutomation.homeScript.HomeTestScript@59ec2012]">searchItems</td> 
  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>20/10/15 09:20:54</td>   <td>-29898</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.ebay.mobileAutomation.loginScripts.LoginTestScript@402a079c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
</table>
